<html>

  <head>
  	<meta charset="utf-8">
    <title>Software Para Sistemas Embarcados</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="css/estilo.css">
  </head>

  <body>
  	<header>
  		<div class="container">
  			<img id="laser" src="img/laser.png" width="150" height="105" alt="logo-laser" align="right" vspace="15px">
  			<img id="ufpb" src="img/logo-ufpb.png" width="150" height="205" alt="logo-ufpb" align="left">
  			<h1 style="color:white; text-align: center;" >Streamming de Vídeo <br /> Com o uso de Raspberry Pi 3</h1>
  		</div>
  
    </header>

    <img src="{{ url_for('video_feed') }}" class="img-responsive">

    <script type="text/javascript" src="js/script.js"></script>
    <script src="jquery/jquery.min.js"></script>
  </body>

</html>
