{% extends "base.html" %}

{% block title %} RaspiCam Surveillance {% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Sistema de Vigilância com Raspberry</h1>
	<h5> A Embedded Systems project for Surveillance </h5>
</div>

<h1> Transmissão de Vídeo </h1>
<div class="container-fluid">	
	<div class="row">
		<div role="main" class="col-md-9">
			<img class="img-responsive" src="{{ url_for('video_feed') }}">
		</div>
		<aside role="complementary" class="col-md-3">
			<p>
  				<button  name="up" type="button" class="btn btn-default btn-lg">Frente</button>
 				<button  name="down" type="button" class="btn btn-default btn-lg">Trás</button>
			</p>
			<p>
				<button  name="left" type="button" class="btn btn-default btn-lg">Esquerda</button>
 				<button  name="right" type="button" class="btn btn-default btn-lg">Direita</button>
			</p>
			<!--
			<p>
  				<button action="{{ url_for('movement',direction=up)}}" name="up" type="button" class="btn btn-default btn-lg">Frente</button>
 				<button  action="{{ url_for('movement',direction=down)}}" name="down" type="button" class="btn btn-default btn-lg">Trás</button>
			</p>
			<p>
				<button  action="{{ url_for('movement',direction=left)}}" name="left" type="button" class="btn btn-default btn-lg">Esquerda</button>
 				<button  action="{{ url_for('movement',direction=right)}}" name="right" type="button" class="btn btn-default btn-lg">Direita</button>
			</p> -->
		</aside>
	</div>
</div>

{% endblock %}
